 html {
        font-family: Rubik;
      }
      nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      span {
        font-weight: bolder;
      }
      .logo-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
      nav ul {
        display: flex;
        list-style: none;
        gap: 4rem;
        color: #4F5665;
      }
      button {
        /* border: none; */
        background-color: white;
        font-weight: bold;
        font-family: rubik;
      }
      .btn-1 {
        border-color: #f53855;
        border-radius: 20px;
        padding: 10px 20px;
        color: #f53855;
      }
      .upper-txt{
        display: flex;
        font-size: 50px;
        width: 550px;
        padding-top: 50px;
        margin-bottom: -40px;
      }
      .lower-txt{
        font-size: 1rem;
        width: 550px;
        color: #4F5665;
        /* padding-bottom: px; */
      }
      .btn-2{
       font-size: 13px;
       font-weight: bold;
       background-color: #f53855;
       color: white ;
       border: none;
       border-radius: 10px;
       padding: 15px 50px 15px 50px;
       margin-top: 25px;
      }
      .btn-2:hover{
        box-shadow: 0 25px 35px 0 rgba(0,0,0,0.2), 0 20px 35px 0 rgba(0,0,0,0.19);
      }
      .body{
        display: flex;
        justify-content: space-around;
      }
      .banner-img img{
        margin-top: 60px;
        margin-right: 60px;
      }
      .foot-home{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 200px;
      }
      .user{
        display: flex;
        gap: 2rem;
        border-right: 1px solid #4F5665;
        width: 300px;
      }
      .foot-home img{
        height: 40px;
      }
      .location{
        display: flex;
        gap: 2rem;
        border-right: 1px solid #4F5665;
        width: 300px;
      }
      .server{
        display: flex;
        gap:2rem;
      }
      .below{
        color: #4F5665;
        font-weight: 100;
      }
      .foot-home p{
        margin-top: -1px;
      }
      .txt{
        margin-left: 45px;
      }
      .features{
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin-top: 50px;
          /* box-shadow: 0 25px 35px 0 rgba(0,0,0,0.2), 0 20px 35px 0 rgba(0,0,0,0.19); */
      }

    .features div p{
      color: #4F5665;
      margin-top: 90px;
    }
            .tick {
            max-width: 15px;
            height: auto;
            margin-right: 8px; 
        }

        .top p{
          display: flex;
          justify-content: center;
        }
        .below{
          display: flex;
          justify-content: center;
        }

        .container{
          display: flex;
          justify-content: space-around;
          /* background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%); */
        }
        .box{
          display: flex;
          height: 760px;
          width: 330px;
          border-radius: 10px;
          border: 2px solid #DDD;
          background-color: #FFF;
          /* gap: 1rem; */
        }
        .icon{
            width: 144.904px;
            height: 165.374px;
        }
        .box.free{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        } 
      .free ul li{
        list-style: none;
        color: #4F5665;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin: 9px;
        margin-left: -19px;
      }

      .box-bottom{
        color: #0B132A;
        font-size: 25px;
        font-weight: bolder;
        margin-top: 100px;
      }
      .box-btn{
        border-radius: 50px;
        border: 2px solid #F53838;
        color: #F53838;
        width: 177.876px;
        height: 45px;
        font-weight: bolder;

      }
      .month{
        color: #4F5665;
        font-weight: 100;
      }
      .box.free.border{
        border: 2px solid #F53838;
        align-items: center;
      }
      .box-btn.premium{
         background-color: #F53838;
         color: #FFF;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }
      .top{
        margin-top: 160px;
        background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
      }